<title>digifarm</title>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
<meta http-equiv="content-language" content="en" />

<%# 
<div class="jumbotron text-center">
 
  <div class="container">
      
      <a type="button" class="btn btn-lg btn-secondary" href="/profiles"><span class="glyphicon glyphicon-user"> Profiles</span></a>
      <a type="button" class="btn btn-lg btn-primary" href="/signup"><span class="glyphicon glyphicon-home"> Sign-up</span></a>
  </div>

</div>
%>



<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/profilepic.jpg" />
    </a>
    <br />
    
    <br />
    <a type="button" class="btn btn-lg btn-default" href="https://soundcloud.com/jamesfraserofficial"
      ><span style ="text-center">Music</span><br>
      <iframe allowtransparency="true" scrolling="no" frameborder="no" src="https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2Fjamesfraserofficial&color=orange_white&size=32" style="width: 32px; height: 32px;"></iframe>
    </a>
    <a type="button" class="btn btn-lg btn-primary" href=""
      ><span class="glyphicon glyphicon-download">Writing</span
    ></a>
    <a type="button" class="btn btn-lg btn-primary" href=""
    ><span class="glyphicon glyphicon-download">Resume</span
  ></a>
    
</div>