<nav>
  <div class="container" >
    <ul class="nav navbar-nav" style = 'background-color:rgba(118, 103, 129, 0.418); opacity: .7'>
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li class="active" >
        <a href="/"><span class="glyphicon glyphicon-home"></span> <span style = 'color:black'>Profiles</span></a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
      </li>
    </ul>
  </div>
</nav>
