.jumbotron {
  background: #532F8C;
  background-image: url(../backgroundpic.png);
  color: white;
  padding-bottom: 5px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron .btn-secondary {
    background: #2cdd93;
    border-color: #2cdd93;
    color: #0a1d14 }
    .jumbotron .btn-secondary:hover {
      background: #22ad73; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    border-radius: 20%;
    overflow: hidden;
    width: 250px;
    height: 250px;
    margin: auto;
    border: 0px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }


      
.btn{
  box-shadow: 
  12px 12px 16px 0 rgba(0, 0, 0, 0.25),
  -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  
}



body {
  background-image: url(../backgroundpic.png);
}



.element {
  align-items: center;
  background-color: #ffffff;

  box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  display: flex;
  height: 500px;
  justify-content: center;
  margin-right: 4rem;
  margin-left: 4rem;
  width: 900px;
}

.element-small {
  align-items: center;
  vertical-align:middle;
  border-radius: 50px;
  display: flex;
  height: 20px;
  margin-top:15px;
  justify-content: center;
  margin-right: 4rem;
  width: 900px;
}

.event-text {
  fill:'black';
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 400;
}


