<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <div>
    <iframe width="50%" height="100" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/204471394&color=%23ff5500&auto_play=false&hide_related=true&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/jamesfraserofficial" title="James Fraser" target="_blank" style="color: #cccccc; text-decoration: none;">James Fraser</a> · <a href="https://soundcloud.com/jamesfraserofficial/new-world-ft-evelynn-original-mix" title="New World Ft. Evelynn - [Original Mix]" target="_blank" style="color: #cccccc; text-decoration: none;">New World Ft. Evelynn - [Original Mix]</a></div>
  </div>
  <div>

  </div>
  
  <footer></footer>
</html>
