<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.js"></script>
  <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script type="text/javascript">
    //declare d3 variables
    var stringdata = <%- JSON.parse( JSON.stringify(stringdata));%>
    //console.log(data_habits)
  </script>
</head>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/profilepic.jpg">
    </a>
    <br>
    <a type="button" class="btn btn-lg btn-default" href=""><span class="glyphicon glyphicon-flash"></span></a>
    <a type="button" class="btn btn-lg btn-primary" href=""><span class="glyphicon glyphicon-download"></span></a>
  </div>

</div>


<!-- Visualization !-->
<body>  

    <div class="text-center">
    <script src="https://unpkg.com/d3-3d/build/d3-3d.js"></script>
    <style type="text/css">
        button {
            position: absolute;
            right: 10px;
            top: 10px;
        }
    </style>

    
</div>
</body>
<footer>
<h1> Profiles </h1>
<ul>
  <% for(var i=0; i< data.length; i++) {%>
     <li><%= data[i].user %></li>
  <% } %>
</ul>
</ul>
  <% for(var i=0; i< data.length; i++) {%>
     <li>
      <input type="button" value=<%= data[i].user %> onclick= "clicked( <%=i%>)">
    </li>
  <% } %>
  <script>
    function clicked(dataIndex) {
        window.location.href = '/profiles/' + stringdata[dataIndex].user
    }
  </script>
</ul>



  </footer>
</html>
