<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>


  <style>
    .card {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      background-color: rgba(255, 255, 255, 0.6);
      transition: 0.3s;
      width: 40%;
    }
    
    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    
    .container {
      padding: 2px 16px;
    }
    </style>
    </head>
    <body>
 
    


    <!-- #Bonds
    <img src = 'https://media-exp1.licdn.com/dms/image/C4D12AQEsXAh9LTKJGw/article-cover_image-shrink_720_1280/0/1604547034261?e=1616025600&v=beta&t=RG7QcaCIWDxeOnAi9nhRxpZnp3S1ABNff-1CkTFXAlo'> -->

  <div class="card">
    <img src = 'https://media-exp1.licdn.com/dms/image/C5612AQE6eCl6r2qlIQ/article-cover_image-shrink_423_752/0/1520183285961?e=1616025600&v=beta&t=RM7-Fp_59j3IZqgxprYUo016i1RhXrPcQrhK8VpNkRU'>
    <div class="container">
      <h4><b>John Doe</b></h4>
      <p>Architect & Engineer</p>
    </div>
  </div>

  <div class="card">
    <img src = 'https://media-exp1.licdn.com/dms/image/C4D12AQEsXAh9LTKJGw/article-cover_image-shrink_720_1280/0/1604547034261?e=1616025600&v=beta&t=RG7QcaCIWDxeOnAi9nhRxpZnp3S1ABNff-1CkTFXAlo'>
    <div class="container">
      <h4><b>John Doe</b></h4>
      <p>Architect & Engineer</p>
    </div>
  </div>

</body>
  <footer></footer>
</html>
